.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
}

@media (max-width: 480px) {
    .grid {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
